@import '../../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: $hover_main;
}
.nav {
  display: flex;
  margin-left: 50px;
  margin-right: auto;
}
.link {
  color: #000;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 16px;
  &:hover {
    background: $main;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.activeLink {
  background: $main;
}
.profile {
  color: #fff;
  display: flex;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}
