.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #000;
}
.nav {
  display: flex;
}
.link {
  color: lime;
  padding: 0 5px;
  &:hover {
    font-style: italic;
    background: lime;
    color: #000;
  }
  &:not(:last-child) {
    margin-right: 20px;
  }
}
.profile {
  color: #fff;
}
