@import '../../styles//variables.scss';

.page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 61px);
  padding: 10px 0;
}
.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #000;
  margin-bottom: 10px;
}
.toggle {
  display: flex;
  button {
    cursor: pointer;
    padding: 4px 16px;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    white-space: nowrap;
    &:hover {
      background: $hover_main;
    }
  }
}
.toggleActive {
  background: $main !important;
}
.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}
.places {
  width: 350px;
  overflow-y: auto;
  height: 647px;
  padding: 10px;
  border: 1px solid #000;
}
.map {
  width: calc(100% - 370px);
  height: 100%;
}
